.container{
    position: relative;
    top: 70px;
    height: 70px;
    background-color: transparent;
    /* border: 2px solid rgb(0, 0, 0); */
    z-index: 100;
}

.container2{
    position: relative;
    top: 70px;
    height: 70px;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    z-index: 100;
}