.container{
    position: relative;
    /* top: 360px; */
    width: 1240;
    height: 566px;
    background-color: transparent;
    /* border: 2px solid rgb(0, 0, 0); */
    z-index: 100;
}
[class*="col-"] {
    width: 100%;
  }
  @media only screen and (max-width: 600px) {
    .container{
        position: relative;
        /* top: 360px; */
        width: 1240px;
        height: 560px;
        background-color: transparent;
        border: 2px solid rgb(0, 0, 0);
        z-index: 100;
    }
  }  
